<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Django Highcharts Example</title>
</head>
<body>
<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var options = {
			rangeSelector: {},
			title: {
				text: 'Account Value and Profit'
			},
			tooltip: {
				valueDecimals: 2,
				valuePrefix: '$'
			},
			series: [{
				name: 'Account Value',
				type: 'line'
			}]
		};
		Highcharts.ajax({
			url: '/data',
			type: "GET",
			dataType: "json",
			success: function (data) {
				options.series[0].data = data;
				Highcharts.stockChart('container', options)
			}
		});
	});
</script>
</body>
</html>